@font-face {
	font-family: 'AlegreyaSans_Light';
	src: url('AlegreyaSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'AnticDidone_Regular';
	src: url('AnticDidone-Regular.ttf') format('truetype');
}
